# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Visual Studio Code
.vscode/

# IntelliJ related
.idea/
*.iml

# Android related
android/.gradle/
android/captures/
android/.idea/
android/local.properties

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/.dart_tool/
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/

# Web
web/.dart_tool/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Build output
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
pubspec.lock

# Misc
*.log
*.lock
*.tmp
*.swp
*.DS_Store
